version: '3.8'

services:
  app:
    image: python:3.9-slim
    container_name: dynamic-job-matching-app
    build:
      context: .
      dockerfile: Dockerfile
    command: python app.py
    volumes:
      - ./app:/usr/src/app
    working_dir: /usr/src/app
    environment:
      - FLASK_ENV=development
      - DATABASE_URL=postgresql://postgres:password@db:5432/job_matching
    ports:
      - "5000:5000"
    depends_on:
      - db

  db:
    image: postgres:14
    container_name: dynamic-job-matching-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: job_matching
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  frontend:
    image: node:16
    container_name: dynamic-job-matching-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/usr/src/app
    working_dir: /usr/src/app
    command: npm start
    ports:
      - "3000:3000"

volumes:
  db_data: